body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto Slab', serif;
    color: #2F7FF6;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0px;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #0c5ace;

            &.active {
                font-weight: bold;
                color: #2F7FF6 !important;
            }
        }
    }
}

.btn-login {
    background-color: #01388a;
    color: #ffffff;

    &:hover {
        background-color: #3d74c7;
        color: #ffffff;
    }
}

//Header
header {
    padding: 180px 0px 165px;
    margin-top: -70px;
    background-image: url('../images/unsplash2.jpg');
    background-size: cover;

    h1, p {
        color: #ffffff;
    }

    h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    .btn-get-started {
        background-color: #46e0f5;
        color: #ffffff;

        &:hover {
            background-color: #04a0b4;
            color: #ffffff;
        }
    }
}

//Populer
.section-popular {
    min-height: 540px;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 100px;

        h2 {
            color: #04987D;
        }

        p {
            color: #000;
        }

        h2 {
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            // font-size: 40px;
        }

        p {
            font-size: 20px;
        }
    }
}

.section-popular-content {
    .section-popular-furniture {
        .card-furniture {
            margin-top: 120px;
            min-height: 380px;
            background-color: #000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .furniture-nama {
            font-size: 26px;
            color: #ffffff;
        }

        .furniture-button {
            .btn-furniture-details {
                background-color: #46e0f5;
                color: #ffffff;

                &:hover {
                    background-color: #04a0b4;
                    color: #ffffff;
                }
            }
        }
    }
}

//Experience
.section-experience {
    background-color: #0c5ace;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
}

.while {
    margin-top: 30px;

    h2 {
        color: #ffffff;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        // font-size: 40px;
    }
}

.section-stats {
    margin-top: 30px;
    color: #ffffff;

    .stats-detail {
        h2 {
            font-size: 30px;
        }
    
        p {
            font-size: 20px;
        }
    }
}

.section-gambar {
    .card-furniture {
        margin-top: -300px;
        min-height: 380px;
        background-color: #000;
        color: #ffffff;
        padding: 30px;
        background-size: cover;
        margin-bottom: 20px;
        position: relative;
        right: -500px;
        
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 500px;

    h2 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 10px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 280px;
        }

        h3 {
            font-size: 20px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 15px;
            color: #04a0b4;
            min-height: 120px;
        }
        
        .produk {
            font-weight: normal;
            font-size: 20px;
            color: #04987D;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-get-started {
        background-color: #46e0f5;
        color: #ffffff;

        &:hover {
            background-color: #04a0b4;
            color: #ffffff;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #000;

        &:hover {
            background-color: #6b6969;
            color: #fff;
        }
    }
}

.section-footer {

    p {
        // font-weight: 200;
        font-size: 15px;
        color: #6b6969;
    }

    a {
        color: #6b6969;

        &:hover {
            color: #04987D;
        }
    }

    li {
        color: #6b6969;
    }
}

.section-details-header {
    min-height: 310px;
    background: #f2f2f2;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0px;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #0c5ace;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 10px;

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
            color: #000;
        }

        .product-finaly {
            th {
                font-weight: 400;
                font-size: 16px;
                color: #0c5ace;
            }

            td {
                font-weight: 300;
                font-size: 16px;
                color: #6b6969;
            }

        }

        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #6b6969;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #04a0b4;
                    margin-bottom: 0px;
                }

                p {
                    margin-bottom: 0px;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    h3 {
                        font-weight: 400;
                    }

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #04a0b4;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

    }

    .card-right {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: 0px;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 16px;
            color: #01388a;
            margin-bottom: 0px;
        }

        p {
            margin-bottom: 0px;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #0c5ace;
                box-shadow: none;
            }
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .btn-buy-now {
        background-color: #46e0f5;
        color: #fff;
        border-radius: 0px;
        font-weight: bold;

        &:hover {
            background-color: #04a0b4;
            color: #000;
            font-weight: bold;
        }
    }
}


.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #0c5ace;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #6b6969;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #04a0b4;
        color: #fff;

        &:hover {
            background-color: #46e0f5;
            color: #000;
        }
    }
}

.login-container{
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #ffffff 60%, #E4E6EB 40%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;

    .btn-login {
        background-color: #01388a;
        color: #ffffff;

        &:hover {
            background-color: #2F7FF6;
            color: #000;
        }
    }

    .section-left {
        h1 {
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            font-size: 50px;
            text-align: left;
            color: #0c5ace;
        }
    }

    .section-right {
        a {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #979696;
        }
    }
}